<!DOCTYPE html>

<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>
    

    
    <h4 class="ml-2 my-3 text-center">서버에서 가져온 할일 리스트</h4>
    <div id="ID" style="display: none;"><%= 아이디 %></div>

    <!-- form 에서 서버로 데이터 전송할때 post 요청을 사용한다고 하였는데 get 요청으로도 서버에 전송 가능하다 -->
    <!--  url ?데이터이름=전달할데이터     -->
    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>

    <div class="container">
    <ul class="list-group">
      <% for (var i =0; i<posts.length; i++ ){ %>   
      <li class="list-group-item" >   
        <p> 글번호 : <%= posts[i]._id %></p>
        <p> 작성자 : <%= posts[i].작성자 %></p>
        <!-- 태그 중복 가능 -->
        <p id="title" data-id="<%= posts[i]._id %>" >
          <a href="/detail/<%= posts[i]._id %>"> 할 일 제목은 : <%= posts[i].제목 %> </a>
        </p>
        <p>할일 마감 날짜는요 : <%= posts[i].날짜 %></p>
        <button class="btn btn-secondary delete" data-id="<%= posts[i]._id %>">삭제</button>
        <button class="btn btn-secondary chat" data-id="<%= posts[i]._id %>">채팅</button>
      </li>
      <% } %>
        <!-- 반복문 반복 횟수 만큼 리스트 생성 -->
    </ul>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  $('#search').click(function(){  // id='search' 인것을 누르면 실행되는 함수
  var 입력값=$('#search-input').val()
  window.location.replace('/search?value=' + 입력값) // 현재 주소창의 url을 갈아치워 주세요 라는 뜻임 ㅎㅎ 
  }) 
</script>

<script>
    $('.chat').click(function(e){  // class 가 delte 인 요소를 클릭하면 ajax 요청을 해주세요 ㅎㅎ
      console.log('ㅎㅎ')
    var 글번호 =e.target.dataset.id  //  내가 누른 요소의 숨겨져 있는 data-id 의 값
    var 지금누른거=$(this) // 지금 클릭한거 ㅇㅇ 정확히 말하자면 지금 이벤트가 동작하는 곳
    $.ajax({
    method : 'post',
    url : '/chat/'+글번호,    // 이건 요청
    data : {_id : 글번호}
  }).done(function(결과){
    //ajax 요청이 끝나면 실행할 코드 , 새로고침을 해야 사용자 입장에서 반영된 것처럼 보임
    location.href='/chat'  // 이렇게 짜면 뒤로가기 하면 이전 페이지로 이동 하 드디어 됐당 ㅠ
    // 요청이 성공하면 이걸 실행해주세요
  }).fail(function(a,b,c){
    console.log(a,b,c)
    console.log('병신')
    // 실패하였을때 실행될 코드
  })
  // 서버에 새로고침 없이 /chat 경로로 GET 요청을 할것임 
  })
</script>


<script>
  $('.delete').click(function(e){  // class 가 delte 인 요소를 클릭하면 ajax 요청을 해주세요 ㅎㅎ
    var 글번호 =e.target.dataset.id  //  내가 누른 요소의 숨겨져 있는 data-id 의 값
    var 지금누른거=$(this) // 지금 클릭한거 ㅇㅇ 정확히 말하자면 지금 이벤트가 동작하는 곳
    $.ajax({
    method : 'DELETE',
    url : '/delete',
    data : {_id : 글번호}
  }).done(function(결과){
    //ajax 요청이 끝나면 실행할 코드 , 새로고침을 해야 사용자 입장에서 반영된 것처럼 보임
    if(document.getElementById('ID').innerText!=''){
      지금누른거.parent('li').fadeOut() // 이거 해도 알아서 올라감 리스트 위로 ㅇㅇ 1 2 3 있을때 2 삭제하면 1 ~~ 3 이게 아니라1 3 ㅇㅇ
    }
    else{
      alert('님 권한 없음 ㅎㅎ')
    }
    // 요청이 성공하면 이걸 실행해주세요
  }).fail(function(a,b,c){
    console.log(a,b,c)
    alert('님 권한 없음 ㅎㅎ')
    // 실패하였을때 실행될 코드
  })
  // 서버에 새로고침 없이 /delete 경로로 DELETE 요청을 할것임 
  })
</script>


    <!-- ajax 는 js로 서버랑 통신하려고 쓰는 자바스크립트 문법 -->

    <!-- 새로고침 없어도 서버랑 통신 가능 그게 ㅈㄴ 장점 -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
